.df {
 display: flex;

 &.jc-center {
  justify-content: center;
 }

 &.ai-center {
  align-items: center;
 }
}



.df-fd-c {
 flex-direction: column;
}

.df-jc-sa {
 justify-content: space-around;
}

.pos-rel {
 position: relative;
}

.pos-ads {
 position: absolute;

 &.right-top {
  right: -17px;
  top: -17px;
  z-index: 2;
 }
}