<div class="login-page">
 <div class="full-page">
  <div class="container pos-rel" @openVertical>
   <div class="pos-ads right-top">
    <lib-clicker [ip_md]="closer" (eventEmitter)="eventHandler($event)"></lib-clicker>
   </div>
   <p class="fs09 fw09">Forget Password <i class="fa-solid fa-person-military-pointing"></i></p>

   <div class="full-width">
    <lib-text-field [ip_mdl]="tf_email" (eventHandlerEmitter)="eventHandler($event)"></lib-text-field>
   </div>
   <div class="full-width df ai-center">
    <lib-text-field [ip_mdl]="tf_newPassword" style="flex-grow: 1;" (eventHandlerEmitter)="eventHandler($event)"></lib-text-field>
    <lib-clicker [ip_md]="cl_newPasswordClicker" (eventEmitter)="eventHandler($event)"></lib-clicker>
   </div>
   <div class="full-width df ai-center">
    <lib-text-field [ip_mdl]="tf_confirmPassword" style="flex-grow: 1;" (eventHandlerEmitter)="eventHandler($event)"></lib-text-field>
    <lib-clicker [ip_md]="cl_confirmPasswordClicker" (eventEmitter)="eventHandler($event)"></lib-clicker>
   </div>
   <lib-clicker [ip_md]="cl_submitClicker" (eventEmitter)="eventHandler($event)"></lib-clicker>
  </div>
 </div>
</div>

<lib-loader [ip_mdl]="isLoader"></lib-loader>
<!-- <lib-notify [ip_mdl]="word"></lib-notify> -->